#gitignore 
sem-1/assignments/bin/
sem-1/parctice-codes/bin/
sem-3/OopAssignments/*.class
sem-3/OopAssignments/Assignment-1/*.class
sem-3/OopAssignments/Experiment\ 5/exp_5/ques1/*.class
sem-3/OopAssignments/Experiment\ 5/exp_5/ques2/*.class
sem-3/OopAssignments/Experiment\ 5/exp_5/ques3/*.class
